<p>Greetings from CourseAlert!
<br>
Here are freshly added courses from <%= @start_date %> to <%= @end_date %>:</p>
<% @user_diff.each_with_index do |course, i| %>
  <p>
    <u><%= "#{i + 1}) " %><strong><%= "#{course['department']} #{course['code']}" %></strong><%= ": #{course['title']}" %></u>
    <br>
    <%= " (#{course['quarters'].join(', ').strip})" %>
    <br>
    <%= "#{course['description']}" %>
  </p>
<% end %>
<br><br>
--------
<br><br>
Make changes to your subscription list through <%= link_to nil, 'coursealert.co' %>, same as signing up. 
<br>
To unsubscribe, <%= link_to 'click here', controller: :users, action: :unsubscribe, pid: @user.public_id %>.